body {
    background: #eee;
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    border: 1px solid #A66;
    color: #A66;
    padding: 1rem;
    border-radius: 4px;
}